astroid==2.14.2
attrs==23.1.0
autopep8==2.0.1
Brotli==1.0.9
certifi==2022.12.7
dill==0.3.6
dnspython==2.3.0
isort==5.12.0
jsonschema==4.17.3
lazy-object-proxy==1.9.0
mccabe==0.7.0
mutagen==1.46.0
numpy==1.23.4
platformdirs==3.0.0
protobuf==4.21.9
pycodestyle==2.10.0
pycryptodomex==3.17
Pygments==2.13.0
pylint==2.16.2
pymongo==4.3.3
pyrsistent==0.19.3
pywatchman==1.4.1
six==1.16.0
TBB==0.2
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.5.0
websockets==10.4
wrapt==1.14.1
youtube-dl==2021.12.17
yt-dlp==2023.2.17
